/* ---------------------ROOT VARIABLES----------------- */
:root {
  --color-primary: #d04646;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ========================SIDEBAR==================== */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 70vh;
  position: relative;
  top: 1rem;
}

.sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 1.5rem;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  height: 3rem;
  transition: all 300ms ease;
}

.sidebar a span {
  font-size: 1.4rem;
  transition: all 300ms ease;
}

.sidebar a h3 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

.sidebar a.active {
  color: var(--color-primary);
  margin-left: 0;
}

.sidebar a.active::before {
  content: "";
  width: 5px;
  height: 100%;
  background: var(--color-primary);
}

.sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem-3px);
}

.sidebar a:hover {
  color: var(--color-primary);
}

.sidebar a:hover span {
  margin-left: 1rem;
}
/* ========================HEADER===================== */

/* ========================SUB HEADER================= */
.sub-header {
  padding: 0rem 1rem 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}

.sub-header .btn {
  border: none;
  padding: 0.6rem 1.5rem;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.sub-header .btn:hover {
  background: #d04646;
  color: #fff;
  cursor: pointer;
}

/* ========================FOOTER===================== */
.footer-1 {
  left: 240px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 400ms ease;
  background: #fff;
}

.footer-2 {
  left: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 400ms ease;
  background: #fff;
}

.left a {
  font-weight: 550;
  color: #000;
}

.right a {
  font-weight: 550;
  color: #000;
}
